__pycache__/
*.pyc

# data
processed_data/
Lung Segmentation/
train/
test/
val/

# models
models/
*.h5
*.keras

# ignore all images
*.png
*.jpg

# BUT allow evaluation results
!evaluation_results/
!evaluation_results/*.png
!evaluation_results/*.csv

# logs
logs/
*.csv

.vscode/
.gradio/
__pycache__/
*.keras
*.h5
.env
evaluation_results/
Desktop/